.ggnome-preview-icon {
  width: 180px;
  height: 180px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  position: absolute;
}